<% if !current_user.household_id.nil? %>
  <%= render partial: 'partials/navbar' %><br>

<% end %>

<h1><%= current_user.name.split.first %>'s Dashboard</h1>
<% if current_user.household_id.nil? %>
    <p>Join or create a hosuehold</p>
    <%= link_to "Create A Household", new_household_path%>

      <%= form_with url: join_house_path(id: current_user.id), method: :patch, remote: true do |form| %>
        <%= form.label :household_id, 'Enter Households id:' %>
        <%= form.text_field :household_id %>
        <%= form.submit 'Find and Join Household' %>
      <% end %>

<% else %>
  <ul class="incompleteChores">
    <h2>Incomplete Chores</h2>
    <% if @incomplete_chores.nil? %>
      <p>You have no incomplete chores!🎉</p>
    <% else %>
      <% @incomplete_chores.each do |incomplete_chore| %>
        <li>Task Name: <%= link_to "#{incomplete_chore.task_name}", household_chore_path(incomplete_chore.household_id, incomplete_chore.id)%></li>
        <li>Description: <%= incomplete_chore.description %></li>
        <li>Frequency: <%= incomplete_chore.frequency %></li>
        <li>Weight: <%= incomplete_chore.weight %></li>
        <li>Location: <%= incomplete_chore.location %></li>
        <% if incomplete_chore.assignments.empty? %>
          <p>You have Assigments</p>
        <% else %>
          <li><%= button_to "Done", "/chores/#{incomplete_chore.id}/assignments/#{incomplete_chore.assignments[-1].id}", method: :update %></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>

  <ul class="completedChores">
    <h2>Complete Chores</h2>
    <% if @completed_chores.nil? %>
      <p>You have no completed chores😭.</p>
    <% else %>
      <% @completed_chores.each do |completed_chore| %>
        <li>Task Name: <%= link_to "#{completed_chore.task_name}", household_chore_path(completed_chore.household_id, completed_chore.id)%></li>
        <li>Description: <%= completed_chore.description %></li>
        <li>Frequency: <%= completed_chore.frequency %></li>
        <li>Weight: <%= completed_chore.weight %></li>
        <li>Location: <%= completed_chore.location %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>
<br><br><br><br><br><br>
<%= button_to "Log out", '/logout', method: :delete %>
