<div class="container" style="width: 30%">
  <div class="col-sm", style='padding-left: 25px'>
    <br><h2>Create a new chore</h2><br>
    <section>
      <div id='createChore' %>
        <%= bootstrap_form_with(model: @chore, url: household_chores_path, method: :post, local: true) do |f| %>
          <%= f.hidden_field :household_id, value: :household_id %><br>
          <%= f.text_field :task_name %><br>
          <%= f.text_area :description %><br>
          <%= f.select :weight, [["Simple", 1], ["Medium", 2], ["Hard", 3]] %><br>
          <%= f.select :frequency, [["Weekly", 1], ["Bi-Monthly", 2], ["Monthly", 3]] %><br>
          <%= f.check_box :outdoor %><br><br>
          <%= f.submit 'Submit Chore' %><br>
        <% end %>
      </div>
    </section>
  </div>
</div>
