<!DOCTYPE html>
<html>
  <head>
    <title>Choreganize</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <main>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>
      <% end %><br><br>
      <%= yield %>
    </main>
  </body>
</html>
